@model ProductViewModel
@{
    string deleteConfirmationModal = $"deleteConfirmationModal{Model.Id}";
}

<a data-toggle="modal" href="#@deleteConfirmationModal">
    🗑️
</a>

<div class="modal" id="@deleteConfirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтвердите удаление</h5>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить @Model.Name из списка продуктов?</p>
            </div>
            <div class="modal-footer">
                <a asp-area="Admin" asp-controller="Product" asp-action="Remove" asp-route-id="@Model.Id" type="button" class="btn btn-outline-success">Да</a>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>