@model OrderUserDataViewModel

<div class="row">
    <div class="col">
        <form asp-action="Add" asp-controller="Order" asp-area="User">
            <div>
                <div>
                    <label asp-for="FullName">ФИО</label><br>
                    <input type="text" asp-for="FullName"><br>
                    <span asp-validation-for="FullName"></span>
                </div>
                <div>
                    <label asp-for="Address">Адрес</label><br>
                    <input type="text" asp-for="Address"><br>
                    <span asp-validation-for="Address"></span>
                </div>
                <div>
                    <label asp-for="Phone">Телефон</label><br>
                    <input type="text" asp-for="Phone"><br>
                    <span asp-validation-for="Phone"></span>
                </div>
                <div>
                    <br>
                    <input type="submit" value="Сделать заказ" />
                    <br />
                </div>
            </div>
        </form>
    </div>
</div>
