@model List<Role>
<div class="row">
    <div class="col col-3">
        @await Html.PartialAsync("Menu")
    </div>
    <div class="col col-9">
        <h5 class="display-4">Список ролей</h5>
        @*<a asp-area="Admin" asp-controller="Role" asp-action="Add">Добавить новую роль</a>*@
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Роль</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td></td>
                        <td>@role.Name</td>
                        @*                        <td><a asp-area="Admin" asp-controller="Role" asp-action="Remove" asp-route-name="@role.Name">Удалить</a></td>
                    *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
