<a class="btn-link" asp-area="Admin" asp-controller="Order" asp-action="Get">Заказы</a>
    <br />
<a class="btn-link" asp-area="Admin" asp-controller="User" asp-action="Get">Пользователи</a>
    <br />
<a class="btn-link" asp-area="Admin" asp-controller="Role" asp-action="Get">Роли</a>
    <br />
<a class="btn-link" asp-area="Admin" asp-controller="Product" asp-action="Get">Продукты</a>
    <br />


